.bg_color{
  background-color: #222D32;
}

.mt_150{
  margin-top: 150px;
}

.panel-title{
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}

html,body{
  height: 100%;
  width: 100%;
  
}
a:link,
a:visited,
a:hover,
a:active{

}
/*.lt_aside*/
.lt_aside{
  height: 100% ;
  width: 180px;
  background-color: #222D32;
  position: fixed;
  left: 0;
  top: 0;
}
.lt_aside .brand{
  width: 180px;
  height: 50px;
  
}